[Unit]
Description=Run Search Iwara sync latest every __SYNC_INTERVAL_HOURS__ hour(s)

[Timer]
OnBootSec=10min
OnUnitActiveSec=__SYNC_INTERVAL_HOURS__h
AccuracySec=5min
Persistent=true
Unit=search-iwara-sync.service

[Install]
WantedBy=timers.target
